html {
  zoom: 80%; /* Sets the default zoom to 100% (normal size) */
  /* Or, for a different zoom level: */
  /* zoom: 120%; */ /* Sets the default zoom to 120% */
}

body{
  background-image: url(https://isi-ska.ac.id/wp-content/uploads/2021/08/background-isi.jpg);
    background-size: cover;
}


@font-face {
  font-family: aksara;
  src: url("../font/nyk Ngayogyan New Italic.ttf");
}

.flex-container {
   display: flex;
   align-items: center;  
}

.flex-container {
   display: flex;
   align-items: center;  
}

/* Navbar */
.navbar{
  max-height: 80px;
  background-image: url("https://lh3.googleusercontent.com/d/1UEVIQRe8Gkb1h6YIPrX-JsAWeXbw1Klz=w1000?authuser=1");
  background-size: cover;
  background-position: center right;
}

.navbar .container-fluid .logo {
  line-height: 1;
  margin-left: 40px;
}

.navbar .container-fluid .logo img {
  display: block;
  max-height:50px;
  margin-right: 12px;
}

.navbar .container-fluid .logo h1 {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-family: "CastleT V1";
  font-optical-sizing: auto;
  letter-spacing: 8px;
  font-weight: 600;
}

.navbar .container-fluid .logo .hijaiyah{
  font-size: 11pt;
  margin: 0;
  font-weight: 300;
  color: #fff;
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
}

.navbar .container-fluid .logo .aksara{
  color: #fff;
  font-size: 11pt;
  font-weight: 300;
  padding-left: 3px;
  font-family: aksara;
}

.dt-fancy-title {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 60px;
    font-weight: 700;
    font-size: 9pt;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

.separator-left {
    right: 100%;
    margin-right: 1em;
}
.separator-right {
    left: 100%;
    margin-left: 1em;
}
.separator-holder {
    position: absolute;
    display: block;
    top: 49.99%;
    width: 45px;
    border-top: 1px solid red;
    content: '';
}

#clock{
   font-family: 'Digital-7', sans-serif;
   font-size: 2em; 
   font-weight: 600;  
   letter-spacing: 2px; 
   color: #fff;
} 
.aligned {
   display: flex;
   align-items: center;
}
         
.aligned span {
  padding: 10px;
}

li .badge {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 11pt;
}

li .aligned span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 14pt;
  font-weight: 500;
}
/* navbar */

/* jadwal sholat */
.tile{
  width: 100%;
  height: 100%;
  background:#fff;
  border-radius:5px;
  box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
  float:left;
  transform-style: preserve-3d;
  margin: 5px;

}

.header{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom:1px solid #ebeff2;
  padding:19px 0;
  text-align:center;
  color:#59687f;
  font-size:19px; 
  position:relative;
  background-image: url("https://lh3.googleusercontent.com/d/1ZFhj6AVY8dfy70BwWlnGVyaEz7N3LZu9=w1000?authuser=1");
  background-size: cover;
}

.banner-img {
    text-align: center;
    position: relative;
    color: #59687f;
    font-size: 14pt;
    font-weight: 700;
    height: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.location{
  text-align: center;
  position: relative;
  margin: 20px 5px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 11pt;
}

.location i{
  color: #0dcaf0;
}

.dates{
  border:1px solid #ebeff2;
  border-radius:5px;
  padding:20px 0px;
  margin:10px 20px;
  font-size:16px;
  color:#5aadef;
  font-weight:600;  
  overflow:auto;
}
.dates div{
  float:left;
  width:50%;
  text-align:center;
  position:relative;
}
.dates strong,
.stats strong{
 font-family: "Roboto", sans-serif;
    display: block;
    color: #343a40;
    font-size: 16px;
    font-weight: 700;
}

strong.tanggal-masehi{
    font-family: "Roboto", sans-serif;
    display: block;
    font-size: 16px;
    color: #5aadef;
    font-weight: 600;
}

.dates span{
  width:1px;
  height:40px;
  position:absolute;
  right:0;
  top:0;  
  background:#ebeff2;
}


div.footer {
  text-align: center;
  position: relative;
  margin: 20px 5px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: ExtraLight;
  background:#FFF;
}
.footer img{
  width: 71%;
}

    h2.text-1xl {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .prayer-time{
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 12pt;
    }
    .text-sm{
       font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 12pt;
    }

.list-group-horizontal.flex-wrap > .list-group-item {
    flex: 0 0 50%; /* 2 items per row */
    max-width: 48%;
    margin: 4px 2px 5px 2px; 
    /* Top, Right, Bottom, Left */
    border-radius: 8px;
  }


/* slider informasi */
  .carousel {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 5px;
      overflow: hidden;
      background:#fff;
      border-radius:5px;
      box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
    }
    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      height: 100%;
    }
    .slide {
      min-width: 100%;
      height: 100%;
      justify-content: center;
      padding-top: 19px;
      font-size: 2em;
    }
    .progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      background: linear-gradient(124deg, #d12727 56%, #7f1900 100%);
      width: 0%;
      transition: width linear;
    }
/* informasi slider */

/* judul informasi */
  .section-title h2 {
    font-family: "Roboto", sans-serif;
    font-size: 22pt;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #3a3939;
    text-align: center;
  }
  .section-title h2:before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, #3a3939, transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #5d57f4;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.section-title h2 span {
   color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    font-weight: 300;
  }
/* judul informasi */

/* maklumat sholat jumat */
  .profile-card-2 h1 {
   float: left;
   width: 100%;
   color: #232323;
   margin-bottom: 30px;
   font-size: 14px;
}

.profile-card-2 h1 span {
   font-family: "Libre Baskerville", serif;
   display: block;
   font-size: 45px;
   text-transform: none;
   margin-bottom: 20px;
   margin-top: 30px;
   font-weight: 700;
}

.profile-card-2 h1 a {
   color: #131313;
   font-weight: bold;
}

.profile-card-2 .card-img-block {
  display: flex;
  align-items: center; /* Vertically centers content */
  justify-content: center;
  background-image: url("https://lh3.googleusercontent.com/d/1T93KfHA3HlfFkjseijy1gi9XRzgILbDE=w1000?authuser=1");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 80px;
  overflow: hidden;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.profile-card-2 .card-body {
   position: relative;
}

.profile-card-2 .profile {
   border-radius: 50%;
   position: absolute;
   top: -42px;
   left: 15%;
   max-width: 75px;
   max-height: 75px;
   border: 3px solid rgba(255, 255, 255, 1);
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);
}

.profile-card-2 h5 {
  font-weight: 600;
  color: #006da0;
  font-family: "Roboto", sans-serif;
  font-size: 22pt;
}

.profile-card-2 .card-text {
   font-weight: 300;
   font-size: 15pt;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.blockquote-custom {
  position: relative;
  font-size: 15pt;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.blockquote-custom .card-text {
   font-weight: 300;
   font-size: 18pt;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
  background-image: url("https://drive.google.com/thumbnail?id=1Sv2bGTe17xv6aZ71OzPYYm9BOFA-P_0w&sz=w1000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blockquote-footer{
  font-weight: 400;
   font-size: 15pt;
  font-family: "Roboto", sans-serif;
}
/* maklumat sholat jumat */
.agenda {
  margin: 20px;
  width: -webkit-fill-available;
  font-family: "Roboto", sans-serif;
}

.agenda .agenda-date {
  width: 250px;
}
.agenda .agenda-date .dayofmonth {
  width: 50px;
  font-weight: 400;
  font-size: 36pt;
  line-height: 64px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 14pt;
  font-weight: 300;
}

.agenda .agenda-date .dayofweek {
  font-size: 16pt;
  font-weight: 400;
}

.agenda .agenda-time {
  width: 160px;
}

.agenda .agenda-events {
}
.agenda .agenda-events .agenda-event {
}
/* maklumat sholat jumat */

/* tabel agenda pengajian rutin */
  .rounded-table {
     border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: hidden;
    font-weight: 300;
    font-size: 16pt;
    font-family: "Roboto", sans-serif;
  }

  .rounded-table th, .rounded-table td {
    padding: 10px;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
  }

  .rounded-table tr:last-child td {
    border-bottom: none;
  }
  .rounded-table th{
    background-color: #008069;
    color: white;
    font-size: 16pt;
  }
  i{
    vertical-align: middle;
    margin-right: 5px;
  }
/* tabel agenda pengajian rutin */

/* info data kosong */
.info-data-kosong{
  margin: 30px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.info-data-kosong .card-body img{
  width: 70px;
}
/* info data kosong */
